Client/src/META-INF/wsdl/localhost_8080/CalculatorBackend/CalculatorBackendWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><xs:schema xmlns:tns="http://javawebservice.beginzero.in/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://javawebservice.beginzero.in/">

<xs:element name="AddIntegers" type="tns:AddIntegers"/>

<xs:element name="AddIntegersResponse" type="tns:AddIntegersResponse"/>

<xs:element name="DivIntegers" type="tns:DivIntegers"/>

<xs:element name="DivIntegersResponse" type="tns:DivIntegersResponse"/>

<xs:element name="MulIntegers" type="tns:MulIntegers"/>

<xs:element name="MulIntegersResponse" type="tns:MulIntegersResponse"/>

<xs:element name="SubIntegers" type="tns:SubIntegers"/>

<xs:element name="SubIntegersResponse" type="tns:SubIntegersResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="AddIntegers">
<xs:sequence>
<xs:element name="firstnumber" type="xs:int"/>
<xs:element name="secondnumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddIntegersResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DivIntegers">
<xs:sequence>
<xs:element name="firstnumber" type="xs:int"/>
<xs:element name="secondnumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DivIntegersResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SubIntegers">
<xs:sequence>
<xs:element name="firstnumber" type="xs:int"/>
<xs:element name="secondnumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SubIntegersResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MulIntegers">
<xs:sequence>
<xs:element name="firstnumber" type="xs:int"/>
<xs:element name="secondnumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MulIntegersResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>